@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Reenie Beanie", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .heading {
    text-align: center;
    padding: 0.9375rem;
    font-size: 2.5rem;
    color: #a16a5e;
    font-weight: 500;
    margin-bottom: 1px;
  }
  #landingPage {
    height: 100vh;
    background-color: #fcebd5;
  }
  #landingPage .navBar {
    background-color: #fcebd5;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
  }
  #landingPage .landing-section .logo {
    text-align: center;
    padding-top: 1.875rem;
  }
  #landingPage .landing-section .join-section {
    margin-top: 3.75rem;
  }
  #landingPage .landing-section .join-section .join-as-artist {
    padding: 1.875rem;
    margin: 0 auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    width: 250px;
    height: 250px;
    background-color: #edd5bb;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
  }
  #landingPage .landing-section .join-section .join-as-artist h2 {
    font-family: "Reenie Beanie", cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #a16a5e;
  }
  #landingPage .landing-section .join-section .join-as-artist:hover {
    transform: scale(1.1);
  }
  #landingPage .landing-section .join-section .join-as-visitor {
    transition: transform 300ms ease-out;
    background-color: #e09686;
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8941176471);
  }
  #landingPage .landing-section .join-section .join-as-visitor h2 {
    font-family: "Reenie Beanie", cursive;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 9.375rem;
    color: #fcebd5;
  }
  #landingPage .landing-section .join-section .join-as-visitor:hover {
    z-index: 2;
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@media screen and (max-width: 425px) {
  #visitorHomePage {
    height: 100vh;
    background-color: #edd5bb;
  }
  #visitorHomePage .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcebd5;
  }
  #visitorHomePage .nav-bar h1 {
    padding: 0;
    font-size: 1.875rem;
  }
  #visitorHomePage .nav-bar img {
    width: 100px;
  }
  #visitorHomePage .nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 425px) and (max-width: 420px) {
  #visitorHomePage .nav {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  #visitorHomePage .fa-gavel {
    color: #a16a5e;
    font-size: 2.5rem;
    padding-right: 0.9375rem;
  }
  #visitorHomePage .masterpiece-section {
    background: url("../../assets/bricks.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5e3cb;
  }
  #visitorHomePage .masterpiece-section h2 {
    flex-basis: 20%;
    font-size: 1.875rem;
    font-family: "Roboto", sans-serif;
    color: #a16a5e;
    margin: 0;
  }
  #visitorHomePage .masterpiece-section .primary-button {
    padding: 0.625rem;
    background-color: #a16a5e;
    border: none;
    color: #fcebd5;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2509803922);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
#visitorHomePage .gallery {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1.875rem;
}
#visitorHomePage .gallery img {
  height: 120px;
  margin: 0 0.625rem;
}
#visitorHomePage .gallery .gallery-slide {
  animation: 8s slideLeft infinite linear;
}
#visitorHomePage .gallery .gallery-slide-2 {
  animation: 8s slideRight infinite linear;
}
#visitorHomePage #carousel .carousel-container {
  height: 260px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
#visitorHomePage #carousel .carousel-item--left {
  display: flex;
  border-right: solid 2px #a16a5e;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 200px;
}
#visitorHomePage #carousel .carousel-item--left .carousel-container--left {
  width: 100px;
  height: 120px;
  background-color: #a16a5e;
  color: #fcebd5;
}
#visitorHomePage #carousel .carousel-item--right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 200px;
}
#visitorHomePage #carousel .carousel-item--right .carousel-container--right {
  width: 100px;
  color: #a16a5e;
  height: 120px;
}
#visitorHomePage #carousel img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-top: -30px;
  border: solid 2px #a16a5e;
  -o-object-fit: cover;
  object-fit: cover;
}
#visitorHomePage #carousel p {
  font-size: 10px;
  text-align: center;
}
#visitorHomePage #carousel .second-slide .carousel-container--right {
  background-color: #a16a5e;
  color: #fcebd5;
}
#visitorHomePage #carousel .second-slide .carousel-container--left {
  background-color: transparent;
  color: #a16a5e;
}

.button-default {
  background-color: #a16a5e;
  border-radius: 2px;
  border: none;
  color: #fcebd5;
  padding: 0.46875rem 0.9375rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button-light {
  background-color: #fcebd5;
  border-radius: 2px;
  border: none;
  color: #a16a5e;
  padding: 0.46875rem 0.9375rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button-gray {
  background-color: #e5e5e5;
  border-radius: 2px;
  border: none;
  color: #5a5a5a;
  padding: 0.46875rem 0.9375rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button-blue {
  background-color: #1b59ac;
  border-radius: 2px;
  border: none;
  color: #f8f8f8;
  padding: 0.46875rem 0.9375rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button-contrast {
  background-color: #d44c2e;
  border-radius: 2px;
  border: none;
  color: #fcebd5;
  padding: 0.46875rem 0.9375rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.button-green {
  background-color: #1bac6f;
  border-radius: 2px;
  border: none;
  color: #f8f8f8;
  padding: 0.46875rem 0.9375rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.nav-bar {
  background-color: #fcebd5;
  height: 70px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.nav-bar img {
  width: 100px;
  height: 100px;
}
.nav-bar .nav-bar--heading {
  font-family: "Reenie Beanie", cursive;
  color: #a16a5e;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1.875rem;
}

.landing-page--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitor-homepage--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitor-homepage--nav .auction {
  font-size: 1.875rem;
  color: #a16a5e;
  margin-left: auto;
  padding-right: 0.9375rem;
}
.visitor-homepage--nav .auction img {
  width: 40px;
  height: 40px;
}

.artist-homepage--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-homepage--nav .hamburger-icon {
  font-size: 1.875rem;
  color: #a16a5e;
  margin-left: auto;
  padding-right: 0.9375rem;
}

.artist-items--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-items--nav .hamburger-icon {
  font-size: 1.875rem;
  color: #a16a5e;
  margin-left: auto;
  padding-right: 0.9375rem;
}

.add-new-item--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-new-item--nav .hamburger-icon {
  font-size: 1.875rem;
  color: #a16a5e;
  margin-left: auto;
  padding-right: 0.9375rem;
}

.nav-bar--dropdown {
  position: absolute;
  z-index: 99;
  top: 70px;
  padding: 3.75rem;
  width: 100%;
  height: 200px;
  background-color: #a16a5e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.nav-bar--dropdown.show {
  display: flex;
}
.nav-bar--dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-bar--dropdown ul li {
  margin: 0 auto;
}
.nav-bar--dropdown a {
  color: #fcebd5;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
}

.dropdown--artist {
  text-align: right;
}
.dropdown--artist .dropdown-select--artist {
  width: 100px;
  background-color: transparent;
  color: #a16a5e;
  border: 1px solid #a16a5e;
  outline: none;
}
.dropdown--artist .dropdown-select--artist .dropdown-option--artist {
  background-color: #fcebd5;
}
.dropdown--artist .dropdown-select--filter {
  background-color: transparent;
  color: #fcebd5;
  border: 1px solid #fcebd5;
  outline: none;
}
.dropdown--artist .dropdown-select--filter .dropdown-option--filter {
  background-color: #e09686;
}

.widgets-container {
  background-color: #edd5bb;
  padding: 1.875rem 0;
}
@media screen and (max-width: 420px) {
  .widgets-container .widgets-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
.widgets-container .widgets--inner {
  display: flex;
  justify-content: space-between;
}
.widgets-container .widgets--inner .widget {
  width: 100%;
}
.widgets-container .widgets--inner .widget .total {
  padding: 0.9375rem 0;
  text-align: center;
  background-color: #a16a5e;
}
.widgets-container .widgets--inner .widget:not(:last-child) {
  margin-right: 1.875rem;
}
.widgets-container .widgets--inner .widget p {
  color: #fcebd5;
  margin-bottom: 0;
}
.widgets-container .widget--value {
  color: #fcebd5;
  font-size: 1.875rem;
}
.widgets-container .widget-auction {
  padding: 0.9375rem 0;
  text-align: center;
  margin-top: 1.875rem;
  background-color: #d44c2e;
  color: #fcebd5;
}
.widgets-container .widget-auction p {
  margin-bottom: 0;
}

.card {
  background-color: #fcebd5;
  border-radius: 4px;
}
.card:not(:last-child) {
  margin-bottom: 1.875rem;
}
.card--highlighted {
  background-color: #a16a5e;
}
.card img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
.card p {
  font-size: 14px;
}
.card .card-content {
  padding: 0.9375rem;
}
@media screen and (max-width: 420px) {
  .card .card-content {
    width: 95%;
    margin: 0 auto;
  }
}
.card .card-content .card-heading {
  color: #a16a5e;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-size: 2.5rem;
}
.card .card-content .card-heading--highlighted {
  color: #fcebd5;
}
.card .card-content .description {
  color: #a16a5e;
}
.card .card-content .description--hightlighted {
  color: #fcebd5;
}
.card .card-content .card-content--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-content .title {
  font-size: 18px;
  color: #a16a5e;
}
.card .card-content .title--highlighted {
  color: #fcebd5;
}
.card .card-content .price {
  background-color: #a16a5e;
  color: #fcebd5;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.card .card-content .price--highlighted {
  color: #a16a5e;
  background-color: #fcebd5;
}
.card .action-buttons {
  padding: 0.9375rem 0;
  background-color: #a16a5e;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.add-new-item {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0.9375rem;
  margin-bottom: 1.875rem;
  text-align: center;
  background-color: #fcebd5;
}
.add-new-item span {
  color: #a16a5e;
}
.add-new-item--border {
  border: 2px dashed #a16a5e;
  padding: 1.875rem;
}

.empty-cards-section {
  color: #a16a5e;
  text-align: center;
  font-size: 1.875rem;
}

#visitorListingPage {
  background-color: #edd5bb;
  min-height: 100vh;
  position: relative;
}
#visitorListingPage .artist-cards--container {
  margin-top: 1.875rem;
}
#visitorListingPage .artist-cards--container:empty {
  margin-top: 0;
}
#visitorListingPage .filterButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.625rem;
}

#filterPanel {
  background-color: #a16a5e;
  height: calc(100vh - 70px);
  display: none;
}
#filterPanel h4 {
  font-size: 1.875rem;
}
#filterPanel .filter-panel--inner {
  padding: 0.9375rem;
}
#filterPanel .filter-panel--label {
  color: #fcebd5;
  font-weight: 300;
  margin-bottom: 0.625rem;
}
#filterPanel .heading-light {
  color: #fcebd5;
  margin-bottom: 0.9375rem;
}
#filterPanel .line {
  width: 100%;
  border: 1px solid #edd5bb;
  border-radius: 10px;
  margin: 1.875rem 0;
}
#filterPanel .filter-panel--input {
  background-color: transparent;
  outline: none;
  border: 1px solid #edd5bb;
  border-radius: 2px;
  width: 5.625rem;
  padding-left: 8px;
  caret-color: #edd5bb;
  color: #edd5bb;
}
#filterPanel .filter-panel--input::-moz-placeholder {
  color: #fcebd5;
}
#filterPanel .filter-panel--input::placeholder {
  color: #fcebd5;
}
#filterPanel .sort-by-price label {
  display: inline-block;
  margin-right: 0.625rem;
}
#filterPanel label {
  display: block;
}
#filterPanel .filter-panel--select {
  background-color: transparent;
  color: #fcebd5;
  border: 1px solid #fcebd5;
  outline: none;
  padding: 0 1.875rem 0 0.46875rem;
  background-color: #a16a5e;
  outline: none;
  border: 1px solid #fcebd5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url("../../../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 12px;
}
#filterPanel .sort-by-price {
  display: flex;
  justify-content: space-between;
}
#filterPanel .filter-header {
  display: flex;
  justify-content: space-between;
}
#filterPanel .apply-filter {
  position: fixed;
  bottom: 0;
  z-index: 999;
  right: 0;
  margin: 0.625rem;
}

@media screen and (max-width: 425px) {
  .chart-section {
    padding: 0.625rem;
    background-color: #fcebd5;
    height: calc(100vh - 379px);
    display: flex;
    flex-direction: column;
  }
  .chart-section h4 {
    color: #a16a5e;
    font-weight: 400;
  }
  .chart-section .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  .chart-section .buttons-container button {
    width: 100px;
  }
  .chart-section canvas {
    margin-top: 1.875rem;
    flex-grow: 1;
    max-height: 100%;
    height: auto;
  }
}
#artistItemsContainer {
  background-color: #edd5bb;
  padding: 1.875rem 0;
  height: calc(100vh - 70px);
}

.add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 70px);
  padding: 1.875rem 0.9375rem;
  background-color: #a16a5e;
  color: #fcebd5;
}
.add-item-form h3 {
  font-family: "Roboto", sans-serif;
}
.add-item-form input {
  background-color: transparent;
  outline: none;
  border: 1px solid #fcebd5;
  border-radius: 2px;
  width: 100%;
  color: #fcebd5;
  padding-left: 0.46875rem;
}
.add-item-form textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid #fcebd5;
  border-radius: 2px;
  height: 100px;
  color: #fcebd5;
  padding-left: 0.46875rem;
}
.add-item-form label {
  display: block;
}
.add-item-form select {
  background-color: transparent;
  color: #fcebd5;
  border: 1px solid #fcebd5;
  outline: none;
  width: 180px;
  border-radius: 2px;
  height: 28px;
  background-color: #a16a5e;
}
.add-item-form .form-field {
  margin-bottom: 0.9375rem;
}
.add-item-form .form-row {
  display: flex;
  justify-content: space-between;
}
.add-item-form span {
  display: block;
  margin-bottom: 0.9375rem;
  text-align: center;
}
.add-item-form .is-published {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.add-item-form .is-published #isPublished {
  display: inline-block;
}
.add-item-form .is-published label {
  font-weight: 200;
  display: inline-block;
}
.add-item-form .is-published input[type="checkbox"] {
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: 1px solid #fcebd5;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}
.add-item-form .is-published input[type="checkbox"]:checked::after {
  content: "";
  background: url("../../../assets/check.svg");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
}
.add-item-form .buttons-div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: auto;
}
.add-item-form .buttons-div button {
  width: 50%;
}
.add-item-form .capture-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.875rem;
  border: 2px dashed #fcebd5;
  height: 100%;
  margin-bottom: 0.9375rem;
}
.add-item-form .capture-image .camera {
  font-size: 2.5rem;
  margin: 0;
}
.add-item-form .error-message {
  color: #fcebd5;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
} /*# sourceMappingURL=main.css.map */
