@use "../../../css/abstracts/variables" as style;
@use "../../../css/abstracts/mixins" as mix;
@use "sass:math";

#visitorHomePage {
  height: 100vh;
  background-color: style.$background-color-normal;

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: style.$background-color-light;
    h1 {
      padding: 0;
      font-size: style.$heading-size-big;
    }
    img {
      width: 100px;
    }
  }
  .nav {
    @include mix.wrap(90%);

    display: flex;
    align-items: center;
  }

  .fa-gavel {
    color: style.$color-primary-default;
    font-size: style.$heading-size-large;
    padding-right: math.div(style.$gutter-base, 2);
  }

  .masterpiece-section {
    background: url("../../assets/bricks.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5e3cb;

    h2 {
      flex-basis: 20%;
      font-size: style.$heading-size-big;
      font-family: style.$font-family-base;
      color: style.$color-primary-default;
      margin: 0;
    }

    .primary-button {
      padding: math.div(style.$gutter-base, 3);
      background-color: style.$color-primary-default;
      border: none;
      color: style.$background-color-light;
      font-weight: bold;
      border-radius: 2px;
      box-shadow: 0px 1px 1px 0px #00000040;
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .gallery {
    overflow: hidden;
    white-space: nowrap;
    margin-top: style.$gutter-base;

    img {
      height: 120px;
      margin: 0 math.div(style.$gutter-base, 3);
    }
    .gallery-slide {
      animation: 8s slideLeft infinite linear;
    }
    .gallery-slide-2 {
      animation: 8s slideRight infinite linear;
    }
  }
  #carousel {
    .carousel-container {
      height: 260px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
    }

    .carousel-item--left {
      display: flex;
      border-right: solid 2px #a16a5e;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%;
      height: 200px;
      .carousel-container--left {
        width: 100px;

        height: 120px;
        background-color: style.$color-primary-default;
        color: style.$background-color-light;
      }
    }

    .carousel-item--right {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 200px;
      .carousel-container--right {
        width: 100px;
        color: style.$color-primary-default;
        height: 120px;
      }
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-top: -30px;
      border: solid 2px style.$color-primary-default;
      object-fit: cover;
    }

    p {
      font-size: 10px;
      text-align: center;
    }
    .second-slide {
      .carousel-container--right {
        background-color: style.$color-primary-default;
        color: style.$background-color-light;
      }

      .carousel-container--left {
        background-color: transparent;
        color: style.$color-primary-default;
      }
    }
  }
}
