@use "../abstracts/variables" as style;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.card {
  @include mix.box-shadow;
  background-color: style.$background-color-light;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: style.$gutter-base;
  }

  &--highlighted {
    background-color: style.$color-primary-default;
  }

  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  p {
    font-size: 14px;
  }
  .card-content {
    padding: math.div(style.$gutter-base, 2);

    @include mix.wrap(95%);

    .card-heading {
      color: style.$color-primary-default;
      margin-bottom: 0;
      font-size: style.$heading-size-small;
      font-size: style.$heading-size-large;

      &--highlighted {
        color: style.$background-color-light;
      }
    }
    .description {
      color: style.$color-primary-default;
      &--hightlighted {
        color: style.$background-color-light;
      }
    }

    .card-content--inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .title {
      font-size: 18px;
      color: style.$color-primary-default;

      &--highlighted {
        color: style.$background-color-light;
      }
    }

    .price {
      background-color: style.$color-primary-default;
      color: style.$background-color-light;
      padding: 7px;
      border-radius: 3px;
      @include mix.box-shadow;
      &--highlighted {
        color: style.$color-primary-default;
        background-color: style.$background-color-light;
      }
    }
  }
  .action-buttons {
    padding: math.div(style.$gutter-base, 2) 0;
    background-color: style.$color-primary-default;
    display: flex;
    justify-content: space-around;
  }
}

.add-new-item {
  padding: math.div(style.$gutter-base, 2);
  text-align: center;
  background-color: style.$background-color-light;

  span {
    color: style.$color-primary-default;
  }

  &--border {
    border: 2px dashed style.$color-primary-default;
    padding: style.$gutter-base;
  }
}
