@use "../abstracts/variables" as style;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.dropdown--artist {
  text-align: right;

  .dropdown-select--artist {
    width: 100px;
    @include mix.dropdown(style.$color-primary-default);

    .dropdown-option--artist {
      background-color: style.$background-color-light;
    }
  }

  .dropdown-select--filter {
    @include mix.dropdown(style.$background-color-light);

    .dropdown-option--filter {
      background-color: style.$background-color-dark;
    }
  }
}
