@use "../abstracts/variables" as style;
@use "../abstracts/mixins" as mix;
@use "sass:math";

@media screen and (max-width: 420px) {
  .heading {
    text-align: center;
    padding: math.div(style.$gutter-base, 2);

    font-size: style.$heading-size-large;
    color: style.$color-primary-default;
    font-weight: 500;
    margin-bottom: 1px;
  }
  #landingPage {
    height: 100vh;
    background-color: style.$background-color-light;

    .navBar {
      background-color: style.$background-color-light;
      box-shadow: 0px 2px 2px 0px #00000040;
    }
    .landing-section {
      .logo {
        text-align: center;
        padding-top: style.$gutter-base;
      }

      .join-section {
        margin-top: style.$gutter-base * 2;

        .join-as-artist {
          padding: style.$gutter-base;
          h2 {
            font-family: style.$heading-family-base;
            text-align: center;
            font-size: style.$heading-size-large;
            color: style.$color-primary-default;
          }
          margin: 0 auto;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          width: 250px;
          height: 250px;
          background-color: style.$background-color-normal;
          transition: transform 0.3s ease;
          position: relative;
          z-index: 2;
          &:hover {
            transform: scale(1.1);
          }
        }

        .join-as-visitor {
          transition: transform 300ms ease-out;
          h2 {
            font-family: style.$heading-family-base;
            text-align: center;
            font-size: style.$heading-size-large;
            padding-top: style.$gutter-base * 5;
            color: style.$background-color-light;
          }
          background-color: style.$background-color-dark;
          width: 250px;
          height: 250px;

          clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);

          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          box-shadow: 0px 2px 2px 0px #000000e4;
          &:hover {
            z-index: 2;
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
    }
  }
}
