@use "../../../css/abstracts/variables" as style;
@use "../../../css/abstracts/mixins" as mix;
@use "sass:math";

#visitorListingPage {
  background-color: style.$background-color-normal;
  height: 100%;

  .artist-cards--container {
    margin-top: style.$gutter-base;
  }
  position: relative;

  .filterButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: math.div(style.$gutter-base, 3);
  }
}
